<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_GUITARSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50178/WS_GUITAR.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_GUITARSoap" contract="WS_Guitar.WS_GUITARSoap"
                name="WS_GUITARSoap" />
        </client>
    </system.serviceModel>
</configuration>